{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}



<section class="mt-8 bg-white">
    <div class="mt-4 text-center">
      <h3 class="text-2xl font-bold">Our Menu</h3>
      <h2 class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-blue-500">
        TODAY'S SPECIALITY</h2>
    </div>


<form method="GET" action="{% url 'product_search' %}">
  <!-- <input type="text" name="q" value="{{ query }}" placeholder="Search by name"> -->

  <div class="mb-3">
      <div class="relative mb-4 flex w-full flex-wrap items-center mt-5 mx-5 flex-col">
          <input type="search" name="q" value="{{ query }}" placeholder="Search by name"
              class="relative m-0 -mr-0.5 block min-w-0 w-[50%] flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
              aria-label="Search" aria-describedby="button-addon1" />

          <!--Search button-->
          <br>


          <div class="relative">
              <button type="submit" class="bg-blue-500 text-white rounded-md px-2 py-1">Submit</button>
          </div>
      </div>
  </div>

</form>
    <div class="container w-full px-5 py-6 mx-auto">
        <div class="grid lg:grid-cols-4 gap-y-6">
          {% for object in object_list %}
        <div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg">
          {% if object.image %}
          <img class="w-full h-48" src={{object.image}}
          alt="{{object.image}}"/>
            {% endif %}
          <div class="px-6 py-4">
            <div class="flex mb-2">
              <span class="px-4 py-0.5 text-sm bg-red-500 rounded-full text-red-50">{{object.category | default:"-" }}</span>
            </div>
            <h4 class="mb-3 text-xl font-semibold tracking-tight text-green-600 uppercase">{{object.name | truncatewords:5}}</h4>
            <p class="leading-normal text-gray-700">{{object.description | truncatewords:10}}</p>
          </div>
          <div class="flex items-center justify-between p-4">
            <a class="px-4 py-2 bg-green-600 text-green-50" href="{% url 'Product_product_detail' object.slug %}">Order Now</a>
          </div>
        </div>
       
        {% endfor %}    
      </div>
    </div>
  </section>











<br>
<br>
<br>
<br>
{% endblock %}